*{
	text-decoration: none;
}
body{
	font-family: "Sora", serif !important;
}
.logo{
	width: 100px;
}
a{
	color: white !important;
}
.navbar-custom{
	background-color: white !important;
	padding: 6px !important;
}
.menu li{
	padding: 0px 20px;
}
.navmenu-custom:hover .dropdown-menu{
	display: block;
}